body h1 {font-weight: bold;
    color: darkred;
    size: 36 px ;
    padding: 12 px;
}

body h2 {font-weight: bold;
    size: 24 px;
    color: darkgrey;
    padding: 3 px;
}

body h3 {font-weight: bold;
    size:24 px;
    color: blue;
    padding: 3 px;
}

body hr {padding: 2 px;
    padding: 2 px;
    color: red;
    }
    
body p {font: helvetica;
        size: 11 px;
        padding: 2 px;
}

div, p, h2 { padding: 2 px;
}


