h1 {font-weight: bold;
    size: ;
    padding:
}

h2 {font-weight: bold;
    size: ;
    color: darkgrey;
}

h3 {font-weight: bold;
    size:;
    color: blue ;
}

hr {padding:20%;
    }
    
div, p, h2 { padding: 10%;
}


