body h1 {font-weight: bold;
    size: ;
    padding:
}

body h2 {font-weight: bold;
    size: ;
    color: darkgrey;
}

body h3 {font-weight: bold;
    size:;
    color: blue ;
}

body hr {padding:20%;
    }
    
div, p, h2 { padding: 10%;
}


